<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Eventos UFSJ</h1>
            <h3>UFSJ</h3>
            <br />
            <a [routerLink]="['/events']" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Eventos</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Saiba Mais</button>
        </div>
    </div>
</div>